<h1>Comment</h1>

<form method="post" action="/messages/<%= message["id"] %>/comments">

  <textarea type="text" col="40" row="5" id="message" name="comment"></textarea><br>
  <button>Comment</button>
</form>